@CHARSET "UTF-8";

#wrapper {
	width: 1002px;
	background: #FFFFFF url(../images/shadow.png) repeat-y scroll -1px 100%;
	margin: 0px auto;
}

#layout01 {
	background: transparent url(../images/shadow.png) repeat-y scroll 100%
		100%;
	padding: 0px 9px 0px 0px;
}

#layout02 {
	background: #FFFFFF url(../images/shadow_bottom.png) repeat-x scroll
		left bottom;
	margin: 0px 0px 0px 9px;
	height: 100%;
	position: relative;
}

#wrapper.star #layout02 {
	background-color: #D4E1EE;
}

#corner01 {
	position: absolute;
	bottom: 0;
	_bottom: -1px;
	left: -9px;
	width: 14px;
	height: 14px;
	overflow: hidden;
	background: transparent url(../images/itsbg.gif) no-repeat scroll 0
		-600px;
}

#corner02 {
	position: absolute;
	bottom: 0;
	_bottom: -1px;
	right: -9px;
	width: 14px;
	height: 14px;
	overflow: hidden;
	background: transparent url(../images/itsbg.gif) no-repeat scroll 100%
		-600px;
}

#content {
	margin-bottom: 0px;
	padding: 8px 12px;
	position: relative;
	z-index: 1;
}